<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>53564262386-tkueo8va8vh98cqduegtdoh7vsgant4s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.53564262386-tkueo8va8vh98cqduegtdoh7vsgant4s</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>53564262386-ffrd21ofqaegm6q6oj1jvq0r0j2k0v75.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBStFtmsCWqZ--HCO-t88q04S27k509IV0</string>
	<key>GCM_SENDER_ID</key>
	<string>53564262386</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bleyachat</string>
	<key>PROJECT_ID</key>
	<string>bleya-8ccd2</string>
	<key>STORAGE_BUCKET</key>
	<string>bleya-8ccd2.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:53564262386:ios:6cd191671a34ae2cde4d6b</string>
</dict>
</plist>